@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  interpolate-size: allow-keywords;
}


@layer base {
  html {
    font-family: "Kanit", system-ui, sans-serif;
  }
}

@keyframes equalizer-bar1 {
  0%, 100% { height: 15%; }
  30% { height: 70%; }
  60% { height: 35%; }
}

@keyframes equalizer-bar2 {
  0%, 100% { height: 85%; }
  40% { height: 25%; }
  80% { height: 60%; }
}

@keyframes equalizer-bar3 {
  0%, 100% { height: 50%; }
  25% { height: 20%; }
  75% { height: 80%; }
}

@keyframes equalizer-bar4 {
  0%, 100% { height: 30%; }
  35% { height: 90%; }
  70% { height: 10%; }
}

@keyframes equalizer-pause-lower {
  0% { height: 60% }
  100% { height: 6px; }
}

@keyframes equalizer-pause-higher {
  0% { height: 80%; }
  100% { height: 6px; }
}

@keyframes slide-down {
  from {
    height: 0;
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    height: min-content;
    opacity: 1;
    transform: translateY(0);
  }
}

.equalizer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.equalizer-bar {
  width: 4px;
  background-color: currentColor;
  margin: 0 2px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.equalizer-bar:nth-child(1) { 
  animation-name: equalizer-bar1;
  animation-play-state: running;
}
.equalizer-bar:nth-child(2) { 
  animation-name: equalizer-bar2;
  animation-delay: -0.2s;
  animation-play-state: running;
}
.equalizer-bar:nth-child(3) { 
  animation-name: equalizer-bar3;
  animation-delay: -0.4s;
  animation-play-state: running;
}
.equalizer-bar:nth-child(4) { 
  animation-name: equalizer-bar4;
  animation-delay: -0.6s;
  animation-play-state: running;
}

.equalizer.paused > .equalizer-bar:nth-child(1) {
  animation: equalizer-pause-lower 1s forwards;
}
.equalizer.paused > .equalizer-bar:nth-child(2) {
  animation: equalizer-pause-higher 1s forwards;
}
.equalizer.paused > .equalizer-bar:nth-child(3) {
  animation: equalizer-pause-higher 1s forwards;
}
.equalizer.paused > .equalizer-bar:nth-child(4) {
  animation: equalizer-pause-lower 1s forwards;
}

.song-enter {
  animation: slide-down 0.3s ease-out forwards;
}